<div class="modal fade" id="notifyModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form action="{{ url_for('dashboard.send_notification') }}" method="POST">
                <div class="modal-body">
                    <p>Send a balance breakdown to <strong id="notify-display-name"></strong> for <strong class="text-danger" id="notify-display-total"></strong>? Please note the email might be in the recipient's spam folder</p>
                    
                    <input type="hidden" name="name" id="notify-name">
                    <input type="hidden" name="email" id="notify-email">
                    <input type="hidden" name="total" id="notify-total">
                    <input type="hidden" name="utilities" id="notify-utilities">
                    <input type="hidden" name="expenses" id="notify-expenses">
                    <input type="hidden" name="subscriptions" id="notify-subscriptions">
                    <input type="hidden" name="method" value="email">
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Send Email</button>
                </div>
            </form>
            
        </div>
    </div>
</div>